*{
    font-family: 'Yu Gothic', 'YuGothic', sans-serif;
    font-weight: 700;
    color: #333333;
    margin: 0;
}

body{
    width: 1280px; 
    height: auto; 
    position: relative; 
    margin: 0 auto;
}

header{
    width: 1280px; 
    height: 90px; 
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.05); 
    display: flex;
}

button{
    cursor: pointer;
}

button:hover{
    filter: brightness(90%);
}

#slogan{
    height: 100%; 
    display: flex; 
    align-items: center; 
    padding: 0 40px;
}

#logo{
    font-family: 'Hind Jalandhar', sans-serif; 
    font-weight: 600; 
    font-size: 18px; color: #4C7DF0;
}

#idea{
    text-align: center;
}

#idea img{
    width: 24px; height: 24px;
}

#idea p{
    font-size: 10px; 
    color: #4C7DF0; 
    margin-top: 5px;
}


#choice{
    margin-left: 410px;
    height: 100%; 
    display: flex; 
    align-items: center; 
    gap: 35px;
}

.header_img{
    width: 30px; 
    height: 30px;
}

#Ellipse{
    width: 50px; 
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
}

header button{
    width: 150px; 
    height: 38px; 
    background: #FFFFFF; 
    border-radius: 19px;  
    border: 2px solid #4C7DF0; 
    box-shadow: 0px 4px 6px 0px #00000026;
    font-size: 13px; 
    color: #4C7DF0;
}

main{
    width: 100%; 
    height: max-content; 
    display: flex; 
    margin-top: 70px; 
    flex-wrap: wrap;
}

#menu{
    margin: 0 0 0 160px;
}

#menu ul {
    list-style: none; /* Bỏ dấu chấm đầu dòng */
    padding: 0; /* Bỏ khoảng cách mặc định */
    margin: 0;
}

#menu li {
    width: 150px;
    height: 40px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    margin: 8px 0 8px 0; /* Khoảng cách giữa các item */
}

#menu ul li:first-child{
    margin: 8px 0 18px 0;
}

.icon {
    margin: 0px 10px;
    width: 24px;
    height: 24px;
}

#menu li p {
    font-size: 16px;
    color: #7A7A7A;
}

#menu #hometitle {
    color: #4C7DF0;
}

#menu li:hover {
    background: #E0EBF8;
    cursor: pointer;
}

#profile{
    padding-left: 60px;
}

#avatar{
    display: flex;                 /* Sử dụng Flexbox để căn giữa và xếp theo chiều dọc */
    flex-direction: column;        /* Xếp các phần tử theo chiều dọc */
    align-items: center;
    width: 100%;
}

#avapic{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;
}

#profiletitle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 55px;
}

#profiletitle img{
    width: 40px;
    height: 40px;
}

#form{
    margin-top: 45px;
}

#form12{
    display: flex;
    gap: 50px;
    width: 750px;
    position: relative;
    border-bottom: none; /* Xóa border-bottom mặc định */
    background: linear-gradient(to right, 
        #E0EBF8 0%, #E0EBF8 46.6%,  /* Đoạn đầu dài 350px */
        transparent 46.6%, transparent 53.3%, /* Khoảng trắng 50px */
        #E0EBF8 53.3%, #E0EBF8 100% /* Đoạn cuối dài 350px */
    );
    background-size: 100% 2px; /* Chiều cao của đường viền */
    background-repeat: no-repeat;
    background-position: bottom left;
}

.inform{
    margin-bottom: 17px;
    width: 750px;
    border-bottom: 2px solid #E0EBF8;
    padding-bottom: 17px;
    margin-bottom: 40px;
}

.formtitle{
    display: flex;
    gap: 10px;
    
}

#firstinform .formtitle, #secondinform .formtitle, #thirdinform .formtitle{
    width: 350px;
}

.formtitle p{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 5%;
}

.formtitle p:last-child{
    font-weight: 700;
    margin-left: 20px;
}

.inform hr{
    width: 750px;
    border: 1px solid #E0EBF8; margin: 0;
}

#firstinform hr, #secondinform hr, #thirdinform hr{
    width: 350px;
}

#fithinform #subtitle, #sixthinform #subtitle{
    font-size: 10px; 
    font-weight: 500; margin: 0 0 0px 20px
}

#fithinform .formtitle, #sixthinform .formtitle{
    padding-bottom: 0px;
}

#tenthinform .formtitle{
    display: flex;
    align-items: flex-start; /* Căn phần tử con lên trên */
    justify-content: flex-start; /* Căn phần tử con sang trái */
}

#tenthinform{
    margin-bottom: 0px;
}

#titleten{
    white-space: nowrap;
}

#tenthinform p:last-child{
    width: 635px; height: 312x;  
}

#tenthinform hr{
    margin-bottom: 0px;
}

#button{
    margin-top: 70px; 
    margin-bottom: 130px; 
    margin-left: 465px;
    text-align: center;
}

#btn{
    width: 350px; 
    height: 60px; 
    margin-bottom: 30px;
    border-radius: 50px; 
    background-color: #4C7DF0; 
    border: none;
    display: flex; 
    align-items: center; 
    justify-content: center;
}

#btn img{
    padding-right: 10px;
}

#btn p{
    font-size: 18px; 
    line-height: 28.8px; 
    letter-spacing: 1px; 
    color: white;
}

#btn img{
    width: 24px;
    height: 24px;
}

#sub_btn{
    font-size: 18px; 
    line-height: 28.8px; 
    color: #4C7DF0;
}

footer{
    width: 1280px; 
    height: 240px; 
    background-color: #243A6B;
}

footer #logo{  
    padding: 30px 0 0 30px;
    font-weight: 500; 
    font-size: 20px; 
    color: #FFFFFF;
}

footer div{
    display: flex;
}

footer div p{
    font-size: 14px; color: #FFFFFF; 
}

footer img{
    margin: 0px 20px;
}

footer #firstline{
    margin-left: 99px;
    margin-top: 20px;
}

footer #firstline p:hover, footer #secondline p:hover, footer #thirdline p:hover{
    text-decoration: underline;
    cursor: pointer;
}

footer #firstline p:first-child{
    color: #FFE585;
}

footer #secondline{
    margin-top: 50px; margin-left: 201px;
}

footer #thirdline{
    margin-top: 35px; margin-left: 487px;
}

footer #thirdline p{
    font-size: 12px;
}